# Ignore node_modules directories
/node_modules/
/**/*/node_modules/

# Ignore config variables
config/

# Ignore build/compiled output directories
/**/*/dist/
/**/*/build/

# Ignore tsbuildinfo
*.tsbuildinfo

# Ignore log files
*.log

# Ignore environment variable files (make sure to add your .env files here)
*.env

# Ignore temporary files created by IDEs/editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ignore Mac OS specific files
.DS_Store

# Ignore pnpm-lock.yaml
pnpm-lock.yaml

# Ignore frontend-specific files (Webpack, Babel cache)
/apps/web/.cache/
/apps/web/.webpack/

# Ignore backend-specific files (server logs, etc.)
apps/backend/.env
apps/backend/logs/
apps/backend/tmp/

# Ignore generated documentation (if any)
docs/

# Ignore test coverage directories
coverage/

# Ignore build directories for CI/CD
.build/

# macOS
.DS_Store

# Ignore htaccess vars
.htaccess

# Ignore parcel-cache
.parcel-cache